

@{

				Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {
	<script src="~/build/booktimelist.bundle.js"></script>
	<link href="~/Content/Site.css" rel="stylesheet" />
	<link href="~/Content/datepikerStyle.css" rel="stylesheet" />
}
<div id="app"></div>

